<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "PChat" %></h1>
  <p>Super simple chat app using phoenix liveview and elixir.</p>
</section>

<section class="row">
  
</section>
